.main {
    background-color: #FFFFFF;
    width: 800px;
    height: 600px;
    margin: 1em auto;
    border-radius: 4em;
    box-shadow: 0px 0px 5px 5px rgba(44, 143, 224);
    flex-direction: column;
}

.searchInput{
        width: 60%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin-bottom: 50px;
        margin-left: 46px;
        text-align: center;
        margin-bottom: 27px;
        font-family: 'Ubuntu', sans-serif;
        margin-top: 20px;
}

.sub{
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
    background: linear-gradient(to left, rgb(146, 233, 255), rgb(44, 143, 224));
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}